@import "~normalize.css/normalize.css";

body {
  margin: 20px;
}
input {
  // border: 1px solid black;
  // outline: none;
  // padding: 8px;
  &.error {
    border-color: var(--red);
    outline-color: var(--red);
  }
}
// input:hover { box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1); }
// button:focus { box-shadow: inset 0 0 0 2px #18A0FB; }
// #create:focus { box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3); }
// input:focus { box-shadow: inset 0 0 0 2px #18A0FB; }
